<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CKEditor 4 – Vue.js Component – development sample</title>
	<style>
		body {
			max-width: 800px;
			margin: 20px auto;
		}

		.cke_editable_inline {
			border: solid 1px black;
		}

		.highlight {
			border-radius: 2px;
			background: lightgray;
			border: solid 1px darkgray;
			padding-left: 4px;
			padding-right: 4px;
			color: darkred;
		}

		.route__list {
			list-style-type: none;
		}
	</style>
</head>
<body>
	<script src="../node_modules/vue/dist/vue.js"></script>
	<script src="../node_modules/vue-router/dist/vue-router.js"></script>
	<script src="http://localhost:5000/ckeditor.js"></script>
	<!--<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>-->
	<script type="module" src="./main.js"></script>

	<div id="app">
		<h1>CKEditor 4 – Vue.js Component – development sample</h1>

		<ul class="route__list">
		<li class="route__list-item"><router-link to="/types">Editor types</router-link></li>
		<li class="route__list-item"><router-link to="/events">Component events</router-link></li>
		<li class="route__list-item"><router-link to="/binding">Two way binding</router-link></li>
		</ul>

		<router-view></router-view>
	</div>

	<script type="text/x-template" id="types">
		<main>
			<h2>Editor types</h2>

			<section>
				<h3>Classic Editor</h3>
				<ckeditor
					ref="classic"
					type="classic"
					tag-name="div"
					v-model="editors.classic.data"
					v-if="!hide"
					v-show="show"
					:read-only="readOnly"
				></ckeditor>
			</section>

			<section>
				<h3>Inline Editor</h3>
				<ckeditor
					ref="inline"
					type="inline"
					tag-name="div"
					v-model="editors.inline.data"
					v-if="!hide"
					v-show="show"
					:read-only="readOnly"
				></ckeditor>
			</section>

			<p>
				<label>
					<input
						v-model="readOnly"
						type="checkbox"
					>
					Read-only
				</label>
			</p>
			<p>
				<label>
					<input
						@change="toggleHide( $event )"
						type="checkbox"
					>
					Hide editor with <code class="highlight">v-if</code> directive
				</label>
			</p>
			<p>
				<label>
					<input
						v-model="show"
						type="checkbox"
					>
					Show editor with <code class="highlight">v-show</code> directive</label></p>
		</main>
	</script>

	<script type="text/x-template" id="events">
		<main>
			<h2>Editor events</h2>

			<ckeditor
				ref="classic"
				@ready="logEvent( 'ready' )"
				@focus="logEvent( 'focus' )"
				@blur="logEvent( 'blur' )"
				@input="logEvent( 'input' )"
			></ckeditor>
			<h3>Events log:</h3>
			<ul>
				<li v-for="event of events">{{ event.message + ( event.counter > 1 ? ` (${ event.counter })` : '' ) }}</li>
			</ul>
		</main>
	</script>

	<script type="text/x-template" id="binding">
		<main>
			<h2>Editor data two-way binding</h2>
			<ckeditor
				ref="classic"
				type="classic"
				v-model="editorData"
			></ckeditor>
			<h3>Data preview:</h3>
			<p>
				Caution: <code class="highlight">setData</code> is not throttled, quick typing might freeze browser.
				<br>
				Note: editor will wrap any stray text in paragraphs.
			</p>
			<textarea rows="15" cols="50" v-model="editorData"></textarea>
		</main>
	</script>
</body>
</html>
